<div class="ui container">
    <div class="desktop-only">
        <div class="ui inverted primary fixed top menu">
            <a ui-sref="homepage" ui-sref-active="active" class="item">
                <i class="large icons">
                    <i class="home icon"></i>
                </i>
            </a>
            <div class="item">
                <h2 class="heading brand">DPStC</h2>
            </div>
            <div class="item">
                <div class="ui inverted basic button" ng-if="role" ng-click="goCreate()">Create</div>
            </div>
            <div class="right menu">
                <div class="item">
                    <div class="ui button" ng-click="logout()">Logout</button>
                </div>
            </div>
        </div>
    </div>
    <div class=vertical-spacer/>
    <div class=vertical-spacer/>
    <button class="ui button" ng-if="role" style="position: absolute; right: 0;" ng-click="delete()"> Delete </button>
    <div class="center">
        <h1>{{pname}} AKA {{cname}}</h1>
    </div>
    <div class=vertical-half-spacer/>
    <img class="ui medium centered image" src="{{imgurl}}">
    <div class=vertical-half-spacer/>
    <div class="center">
        <h3>Publisher: {{pubname}}, Series: {{seriesname}}</h3>
    </div>
    <div class="ui relaxed grid">
        <div class="row">
            
            <div class="eight wide column">
                <h2>Died</h2>
                <div class="ui one cards">
                    <div class="ui text container">
                        <div class="ui fluid card" ng-repeat=" death in deaths" ng-bind-html-unsafe="death.C_name">
                            <div class="content">
                                <button class="mini ui button" ng-if="role" style="position: absolute; right: 0;" ng-click="deleteDeath(death.Kill_ID)"> Delete </button>
                                <p><b>Killed by:</b> {{death.Killer_Name}}</p>
                                <p><b>In issue:</b> {{death.Issue}}</p>
                                <p><b>Description:</b> {{death.dsc}}</p>
                                <!--<div class="extra">
                                    <b>Rating:</b>
                                    <div class="ui star rating" data-rating="4" data-max-rating="5"></div>
                                </div>-->
                                <p><b>Rating: </b> {{death.Rating}}/5</p>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>

            <div class="eight wide column">
                <h2>Killed</h2>
                <div class="ui one cards">
                    <div class="ui text container">
                        <div class="ui fluid card" ng-repeat=" death in kills" ng-bind-html-unsafe="death.C_name">
                            <div class="content">
                                <button class="mini ui button" ng-if="role" style="position: absolute; right: 0;" ng-click="deleteDeath(death.Kill_ID)"> Delete </button>
                                <p><b>Killed:</b> {{death.Killed_Name}}</p>
                                <p><b>In issue:</b> {{death.Issue}}</p>
                                <p><b>Description:</b> {{death.dsc}}</p>
                                <!--<div class="extra">
                                    <b>Rating:</b>
                                    <div class="ui star rating" data-rating="4" data-max-rating="5" id="rate"></div>
                                </div>-->
                                <p><b>Rating: </b> {{death.Rating}}/5</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    
    <!--<div class="center">
        <h1>Wade Wilson AKA Deadpool</h1>
    </div>
    <div class=vertical-half-spacer/>
    <img class="ui medium centered image" src="https://s-media-cache-ak0.pinimg.com/736x/bf/e6/4b/bfe64b2af2206edbc4075aab9f08550e.jpg">
    <div class=vertical-half-spacer/>
    <div class="center">
        <h3>Publisher: pubName, Universe: uniName, Series: sName</h3>
    </div>
    <div class="ui relaxed grid">
        <div class="row">
            
            <div class="eight wide column">
                <h2>Died</h2>
                <div class="ui one cards">
                    <div class="ui text container">
                        <div class="ui fluid card">
                            <div class="content">
                                <p><b>Killed by:</b> Some dude</p>
                                <p><b>In issue:</b> 42</p>
                                <p><b>Description:</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus commodo sapien. Sed eu justo auctor, ornare lorem ut, commodo purus. Aenean sit amet dui ipsum. Ut non accumsan urna. Vivamus ultrices nec leo a condimentum. Nam semper sem elit, ac interdum ligula accumsan a. Donec et volutpat quam. Quisque sit amet augue auctor, volutpat est at, lobortis dolor. Donec volutpat interdum ante vitae rutrum. Aliquam nec ante risus. Etiam nec turpis mattis, vulputate nulla eget, efficitur leo. Fusce mattis sit amet eros id fermentum.</p>
                                <div class="extra">
                                    <b>Rating:</b>
                                    <div class="ui star rating" data-rating="5" data-max-rating="5"></div>
                                </div>
                            </div>
                        </div>
                        <div class="ui fluid card">
                            <div class="content">
                                <p><b>Killed by:</b> Some other dude</p>
                                <p><b>In issue:</b> 43</p>
                                <p><b>Description:</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus commodo sapien. Sed eu justo auctor, ornare lorem ut, commodo purus. Aenean sit amet dui ipsum. Ut non accumsan urna. Vivamus ultrices nec leo a condimentum. Nam semper sem elit, ac interdum ligula accumsan a. Donec et volutpat quam. Quisque sit amet augue auctor, volutpat est at, lobortis dolor. Donec volutpat interdum ante vitae rutrum. Aliquam nec ante risus. Etiam nec turpis mattis, vulputate nulla eget, efficitur leo. Fusce mattis sit amet eros id fermentum.</p>
                                <div class="extra">
                                    <b>Rating:</b>
                                    <div class="ui star rating" data-rating="1" data-max-rating="5"></div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>

            <div class="eight wide column">
                <h2>Killed</h2>
                <div class="ui one cards">
                    <div class="ui text container">
                        <div class="ui fluid card">
                            <div class="content">
                                <p><b>Killed:</b> Literally everyone</p>
                                <p><b>In issue:</b> All of them</p>
                                <p><b>Description:</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus commodo sapien. Sed eu justo auctor, ornare lorem ut, commodo purus. Aenean sit amet dui ipsum. Ut non accumsan urna. Vivamus ultrices nec leo a condimentum. Nam semper sem elit, ac interdum ligula accumsan a. Donec et volutpat quam. Quisque sit amet augue auctor, volutpat est at, lobortis dolor. Donec volutpat interdum ante vitae rutrum. Aliquam nec ante risus. Etiam nec turpis mattis, vulputate nulla eget, efficitur leo. Fusce mattis sit amet eros id fermentum.</p>
                                <div class="extra">
                                    <b>Rating:</b>
                                    <div class="ui star rating" data-rating="10" data-max-rating="10"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>-->
    
    
</div>