<div class="ui container">
    <div class="desktop-only">
        <div class="ui inverted primary fixed top menu">
            <a ui-sref="search" ui-sref-active="active" class="item">
                <i class="large icons">
                    <i class="home icon"></i>
                </i>
            </a>
            <div class="item">
                <h2 class="heading brand">Comic Deaths Wiki</h2>
            </div>
            <div class="item">
                <div class="ui inverted basic button" ng-click="goCreate()">Create</div>
            </div>
            <div class="right menu">
                <div class="item">
                    <div class="ui icon input">
                        <input type="text" placeholder="Search...">
                        <i class="search icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=vertical-spacer/>
    <div class=vertical-spacer/>
    <h1>Deadpool</h1>
    <h3>Wade Wilson</h3>
    <div class="ui relaxed grid">
        <div class="row">
            <img class="ui medium image" src="https://s-media-cache-ak0.pinimg.com/736x/bf/e6/4b/bfe64b2af2206edbc4075aab9f08550e.jpg">
            <div class="column">
                <div class="row">
                    <p>universe</p>
                </div>
                <div class="row">
                    <p>publisher</p>
                </div>
                <div class="row">
                    <p>series</p>
                </div>
            </div>
        </div>
        <div class="row">
            
            <div class="eight wide column">
                <h2>Died</h2>
                <div class="ui one cards">
                    <div class="ui text container">
                        <div class="ui fluid card">
                            <div class="content">
                                <p><b>Killed by:</b> Some dude</p>
                                <p><b>In issue:</b> 42</p>
                                <p><b>Description:</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus commodo sapien. Sed eu justo auctor, ornare lorem ut, commodo purus. Aenean sit amet dui ipsum. Ut non accumsan urna. Vivamus ultrices nec leo a condimentum. Nam semper sem elit, ac interdum ligula accumsan a. Donec et volutpat quam. Quisque sit amet augue auctor, volutpat est at, lobortis dolor. Donec volutpat interdum ante vitae rutrum. Aliquam nec ante risus. Etiam nec turpis mattis, vulputate nulla eget, efficitur leo. Fusce mattis sit amet eros id fermentum.</p>
                                <div class="extra">
                                    <b>Rating:</b>
                                    <div class="ui star rating" data-rating="5" data-max-rating="5"></div>
                                </div>
                            </div>
                        </div>
                        <div class="ui fluid card">
                            <div class="content">
                                <p><b>Killed by:</b> Some other dude</p>
                                <p><b>In issue:</b> 43</p>
                                <p><b>Description:</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus commodo sapien. Sed eu justo auctor, ornare lorem ut, commodo purus. Aenean sit amet dui ipsum. Ut non accumsan urna. Vivamus ultrices nec leo a condimentum. Nam semper sem elit, ac interdum ligula accumsan a. Donec et volutpat quam. Quisque sit amet augue auctor, volutpat est at, lobortis dolor. Donec volutpat interdum ante vitae rutrum. Aliquam nec ante risus. Etiam nec turpis mattis, vulputate nulla eget, efficitur leo. Fusce mattis sit amet eros id fermentum.</p>
                                <div class="extra">
                                    <b>Rating:</b>
                                    <div class="ui star rating" data-rating="1" data-max-rating="5"></div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>

            <div class="eight wide column">
                <h2>Killed</h2>
                <div class="ui one cards">
                    <div class="ui text container">
                        <div class="ui fluid card">
                            <div class="content">
                                <p><b>Killed:</b> Literally everyone</p>
                                <p><b>In issue:</b> All of them</p>
                                <p><b>Description:</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus commodo sapien. Sed eu justo auctor, ornare lorem ut, commodo purus. Aenean sit amet dui ipsum. Ut non accumsan urna. Vivamus ultrices nec leo a condimentum. Nam semper sem elit, ac interdum ligula accumsan a. Donec et volutpat quam. Quisque sit amet augue auctor, volutpat est at, lobortis dolor. Donec volutpat interdum ante vitae rutrum. Aliquam nec ante risus. Etiam nec turpis mattis, vulputate nulla eget, efficitur leo. Fusce mattis sit amet eros id fermentum.</p>
                                <div class="extra">
                                    <b>Rating:</b>
                                    <div class="ui star rating" data-rating="10" data-max-rating="10"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    
    
</div>