<div class="ui container">
    <div class="desktop-only">
        <div class="ui inverted primary fixed top menu">
            <a ui-sref="homepage" ui-sref-active="active" class="item">
                <i class="large icons">
                    <i class="home icon"></i>
                </i>
            </a>
            <div class="item">
                <h2 class="heading brand">DPStC</h2>
            </div>
            <div class="item">
                <div class="ui inverted basic button" ng-if="role" ng-click="goCreate()">Create</div>
            </div>
            <div class="right menu">
                <div class="item">
                    <div class="ui button" ng-click="logout()">Logout</button>
                </div>
            </div>
        </div>
    </div>
    <div class=vertical-spacer/>
    <div class=vertical-spacer/>
    <!--<div class="center">
        <h1>DC Comics</h1>
        <img class="ui centered medium image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/DC_Comics_logo.svg/2000px-DC_Comics_logo.svg.png">
        <h4>Historical names</h4>
    </div>
    <div class=vertical-spacer/>
    <div class ="ui relaxed centered grid">
        <div class="four column centered row">
            <div class="column">
                <p><b>Related series</b></p>
                <ul>
                    <li>Some series</li>
                    <li>Another series</li>
                    <li>That one series</li>
                </ul>
            </div>
            <div class="column">
                <p><b>Related universes</b></p>
                <ul>
                    <li>Some universe</li>
                    <li>Another universe</li>
                    <li>That one universe</li>
                </ul>
            </div>
        </div>
    </div>-->
    <button class="ui button" ng-if="role" style="position: absolute; right: 0;" ng-click="delete()"> Delete </button>
    <div class="center">
        <h1>{{ pname }}</h1>
        <img class="ui centered medium image" src= "{{ imgurl }}">
        <h4>{{ histName }}</h4>
    </div>
    <!--<div class="ui link cards">
        <div class="card" ng-repeat=" series in serieses" ng-bind-html-unsafe="series.S_name">
            <div class="image">
                <img src="{{series.Img_URL}}" title="" style="">
            </div>
            <div class="content">
                <div class="header">{{series.S_name}}</div>
            </div>
        </div>
    </div>
    <div class="ui link cards">
        <div class="card" ng-repeat=" universe in universes" ng-bind-html-unsafe="universe.U_name">
            <div class="image">
                <img src="{{universe.Img_URL}}" title="" style="">
            </div>
            <div class="content">
                <div class="header">{{universe.U_name}}</div>
            </div>
        </div>
    </div>-->
    <div class="ui relaxed grid">
        <div class="row">
            
            <div class="eight wide column">
                <h2>Series</h2>
                <div class="ui one cards">
                    <div class="ui text container">
                        <div class="ui fluid card" ng-repeat=" series in seriesList" ng-bind-html-unsafe="series.S_name">
                            <div class="content">
                                <!--<div class="image">
                                    <img src="{{series.Img_URL}}" title="" style="">
                                </div>-->
                                <img class="ui medium image" src="{{series.Img_URL}}">
                                <div class="content">
                                    <div class="header">{{series.S_name}}</div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>

            <div class="eight wide column">
                <h2>Universes</h2>
                <div class="ui one cards">
                    <div class="ui text container">
                        <div class="ui fluid card" ng-repeat=" universe in universeList" ng-bind-html-unsafe="universe.U_name">
                            <div class="content">
                                <!--<div class="image">
                                    <img src="{{universe.Img_URL}}" title="" style="">
                                </div>-->
                                <img class="ui medium image" src="{{universe.Img_URL}}">
                                <div class="content">
                                    <div class="header">{{universe.U_name}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>