<div class="ui container">
    <div class="desktop-only">
        <div class="ui inverted primary fixed top menu">
            <a ui-sref="homepage" ui-sref-active="active" class="item">
                <i class="large icons">
                    <i class="home icon"></i>
                </i>
            </a>
            <div class="item">
                <h2 class="heading brand">DPStC</h2>
            </div>
            <div class="item">
                <div class="ui inverted basic button" ng-click="goCreate()">Create</div>
            </div>
            <div class="right menu">
                <div class="item">
                    <div class="ui button" ng-click="logout()">Logout</button>
                </div>
            </div>
        </div>
    </div>
    <div class=vertical-spacer/>
    <div class=vertical-spacer/>
    <!--<div class="center">
        <h1>Ultimate Spider-Man</h1>
        <img class="ui centered medium image" src="http://vignette1.wikia.nocookie.net/disney/images/c/c8/Ultimate_Spider-Man_(TV_series)_logo.svg.png/revision/latest?cb=20130803042752">
        <h4>Universe</h4>
        <h4>Publisher</h4>
    </div>
    <ul>
        <li>Spider-Man</li>
        <li>Another dude</li>
        <li>That one guy</li>
    </ul>-->

    <div class="center">
        <h1>{{ sname }}</h1>
        <img class="ui centered medium image" src="{{ imgurl }}">
        <h4>{{ uname }}</h4>
        <h4>{{ pname }}</h4>
    </div>
    <ul>
        <li>Spider-Man</li>
        <li>Another dude</li>
        <li>That one guy</li>
    </ul>
</div>