<div class="ui container">
    <div class="desktop-only">
        <div class="ui inverted primary fixed top menu">
            <a ui-sref="homepage" ui-sref-active="active" class="item">
                <i class="large icons">
                    <i class="home icon"></i>
                </i>
            </a>
            <div class="item">
                <h2 class="heading brand">DPStC</h2>
            </div>
            <div class="item">
                <div class="ui inverted basic button" ng-click="goCreate()">Create</div>
            </div>
            <div class="right menu">
                <div class="item">
                    <div class="ui button" ng-click="logout()">Logout</button>
                </div>
            </div>
        </div>
    </div>
    <div class=vertical-spacer/>
    <div class=vertical-spacer/>
    <!--<div class="center">
        <h1>Marvel Comic Universe</h1>
        <img class="ui centered medium image" src="http://www.vintagestock.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/1/5/159823.jpg">
        <h4>Publisher</h4>
        <h4>Size</h4>
        <h4>Location</h4>
    </div>
    <ul>
        <li>Some series</li>
        <li>Another series</li>
        <li>That one series</li>
    </ul>-->


    <button class="ui button" ng-if="role" style="position: absolute; right: 0;" ng-click="delete()"> Delete </button>
    <div class="center">
        <h1>{{ name }}</h1>
        <img class="ui centered medium image" src= "{{ imgurl }}">
        <h4>{{ pub }}</h4>
        <h4>{{ size }}</h4>
        <h4>{{ loc }}</h4>
    </div>
    <div class="ui link cards">
        <div class="card" ng-repeat=" series in serieses" ng-bind-html-unsafe="series.S_name">
            <div class="image">
                <img src="{{series.imgurl}}" title="" style="">
            </div>
            <div class="content">
                <div class="header">{{series.S_name}}</div>
            </div>
        </div>
    </div>


</div>